@import "tailwindcss";

@theme inline {
  --color-body: #f4f5f5;
  --color-background: #ffffff;
  --color-foreground: #475f6b;
  --color-primary: #1d83bc;
  --color-primary-foreground: #ffffff;
  --color-secondary: #132b39;
  --color-secondary-foreground: #ffffff;

  --font-inter: var(--font-inter);
}

@layer base {
  body {
    @apply bg-body text-foreground font-inter;
  }
}
